* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #222;
    color: white;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > div {
    padding: 10px;
    height: 30px;
    width: 30px;
}

.lose {
    text-align: center;
    margin-top: 30px;
}

.btn {
    border: 1px solid white;
    padding: 7px 20px;
    margin: 20px auto;
    font-size: 12px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: #222;
}